html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background-color: #fcd2ea;
}


/*
FARVER:

BFA4B1
F2F2F2
F7F7F7
0B020C

F5CFE4

58444F
F2F1F1
000800
*/

body {
    max-width: 1400px;
    margin: 0 auto;
}

main {
    padding: 10px;
}

h1 {
    font-family: 'PT Sans Caption', sans-serif;
}

#forside h2 {
    font-family: 'besom_extendedregular';
    font-size: 3em;
    margin-top: 0;
    padding-left: 2em;
    margin-bottom: 0;
}

footer {
    height: 100px;
    display: flex;

}

footer h2 {
    font-family: 'PT Sans Caption', sans-serif;
    padding-top: 2em;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}

li {
    font-family: 'Open Sans Condensed', sans-serif;
}


@font-face {
    font-family: 'besom_extendedregular';
    src: url('besom-extended-webfont.woff2') format('woff2'),
    url('besom-extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Navigation */

nav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    padding-left: 0;

}

nav ul li {
    position: relative;
    padding-right: 2em;
}

.dropdown > ul {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    padding: 0.5em;
}

.dropdown > ul li {
    white-space: nowrap;
    padding: 0 2em;
}

.dropdown:hover > ul {
    display: block;
    background-color: rgba(88, 68, 79, 0.91);
}

.dropdown:hover > ul a {
    color: white;
    text-decoration: underline;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: 'PT Sans Caption', sans-serif;
}

#moodboard img {
    width: 700px;
}

#Persona img {
    width: 700px;
}

#forside_link a {
    text-decoration: underline;
    ;
    color: black;

}

#logo img {
    width: 90vw;
}

#forside_container {
    display: flex;
    justify-content: center;
}

#skitse img {
    width: 600px;
}

#skitse {
    background-color: white;
    width: 600px;
    height: 500px;
    padding: 1em;
    margin-bottom: 2em;
}

#skitse h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'PT Sans Caption', sans-serif;
}

#skitse2 {
    background-color: white;
    width: 600px;
    height: 500px;
    padding: 1em;
    margin-bottom: 2em;
}

#skitse2 img {
    width: 600px;
}

#skitse2 h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'PT Sans Caption', sans-serif;
}

#skitse3 {
    background-color: white;
    width: 400px;
    height: 533px;
    padding: 1em;
    padding-bottom: 3em;
}

#skitse3 img {
    width: 400px;
}

#skitse3 h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'PT Sans Caption', sans-serif;
}

#experience_map {
    background-color: white;
    width: 600px;
    height: 450px;
    padding: 1em;
}

#experience_map img {
    width: 600px;
}

.scrum {
    background-color: white;
    width: 500px;
    height: 500px;
    padding: 1em;
    padding-bottom: 3em;
}

.scrum iframe {
    width: 500px;
    height: 500px;
}

.scrum h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'PT Sans Caption', sans-serif;
}

#interviews p {
    font-family: sans-serif;
}

#observationer p {
    font-family: sans-serif;
}

#fotostil img {
    width: 700px;
}

#fotostil {
    background-color: white;
    width: 700px;
    height: 470px;
    padding: 1em;
}

#stiletile img {
    width: 730px;
}

#bmc img {
    width: 750px;
}

#bmc {
    background-color: white;
    width: 748px;
    height: 550px;
    padding: 1em;
}

.storyboard {
    background-color: white;
    width: 600px;
    height: 450px;
    padding: 1em;
}

.storyboard img {
    width: 600px;
}

.brugerrejse {
    background-color: white;
    width: 450px;
    height: 600px;
    padding: 1em;
}

.brugerrejse img {
    width: 450px;
    height:
}
